body{
    background-color: #e6e6e6;
    height: 100%;
}

h3{
    background: url("");
    padding: 100px;
    text-align: center;
    font-weight: 900;
    font-size: 1px;
    border-radius: 10px;
    color:rgb(250, 108, 108);
}

h4 {
    color:rgb(250, 108, 108)
}



.card{
    width: 200px;
    transition: 0.25s;
    transform: scale(1.1,1.1);
    margin-top: 5em;
}

.card:hover{
    box-shadow: 0 0.7em 0.7em -0.4em rgba(0, 29, 92, 1);
    transform: translateY(-10px) scale(1.3,1.3);
    border-radius: 7px;
    cursor: pointer;
}

.card-img-top{
    height: 170px;
}

.n-button{
    transition: 0.25s;
}

.n-button:hover{
    background-color: darkblue;
    color: whitesmoke;
}



.pic2 h2  {
	color: #EA1C2C;
}

.pic2 p {
	color: #9b4f69;
	font-weight: 100;
	font-size: 0.92rem;
	line-height: 2;
}

.pic3 h2  {
	color: #EA1C2C;
}

.pic3 p {
	color: #9b4f69;
	font-weight: 100;
	font-size: 0.92rem;
	line-height: 2;
}

.pic4 h2  {
	color: #EA1C2C;
}

.pic4 p {
	color: #9b4f69;
	font-weight: 100;
	font-size: 0.92rem;
	line-height: 2;
}