<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Wanderlust - Gangtok</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

	<!-- Angular Script -->
	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="footer, address, phone, icons" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Heebo&family=Karantina:wght@300&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Karantina:wght@300&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.0.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Lobster&family=Playfair+Display:ital,wght@0,400;0,600;1,900&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,900&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
	<link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="cities.css">
	<link type="text/css" rel="stylesheet" href="navbar.css" />
	
	<link type="text/css" rel="stylesheet" href="footer.css" />
	<style>
		table, th , td {
		padding: 4px;
		text-align: center;
		border: 1px #9b4f69;
		}


		.table-new{
			padding: 70px;
		}
	</style>
</head>
<body>
	<div class= "bg-img">
		<nav id="mainNav" class="navbar navbar-dark navbar-expand-md py-0 fixed-top">
			<a href="HOMEPAGE.html" class="navbar-brand">Wanderlust</a>
			<button class="navbar-toggler" data-toggle="collapse" data-target="#NavbarButton">
			  <span class="navbar-toggle-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="NavbarButton">
			  <ul class="navbar-nav">
				<li class="nav-item">
				  <a href="HOMEPAGE.html" class="nav-link">HOME </a>
				</li>
				<li class="nav-item">
				  <a href="about.html" class="nav-link">ABOUT</a>
				</li>
				<li class="nav-item">
				  <a href="blogs.html" class="nav-link">BLOGS</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="login.html">LOGIN</a>
				</li>
			  </ul>
			</div>
				<form class="form-inline my-2 my-lg-0 mx-2">
					<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-default n-button my-2 my-sm-0" type="submit">Search</button>
				</form>
		  </nav>
				</nav>
				<div class = "caption">
					<h1 style="font-weight: 300;">GANGTOK, NorthEast</h1>
					<h4 style = "text-align:center;">Spacious rooms in the lap of luxury</h4>>
				</div>

			</div>
	</div>

	<div class="overview" style="color: #9b4f69;">
		<p>Plan a lavish weekend at our Hotels in Gangtok with family and friends with all the possible luxuries at one place. Enjoy the serenity of this City with many things to explore and experience.</p>
	</div>

	<div class = "grid-container">
		<!-- <div class = "item1">
			<img src = "D:\SEM 4\Web Programming\Project\Lavasa Images\img-1.jpg" alt="Lavasa villa Outer View" >
		</div> -->
		<div class = "item1">
		<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
			  <div class="carousel-item active">
				<img class="d-block w-100" src="https://images.unsplash.com/photo-1543341724-c6f823532cac?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Z2FuZ3Rva3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="First slide">
			  </div>
			  <div class="carousel-item">
				<img class="d-block w-100" src="https://images.unsplash.com/photo-1562413181-9013f9846bff?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Z2FuZ3Rva3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="Second slide">
			  </div>
			  <div class="carousel-item">
				<img class="d-block w-100" src="https://images.unsplash.com/photo-1569734149399-95ad5f8ea2c3?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Z2FuZ3Rva3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="Third slide">
			  </div>
			  <div class="carousel-item">
				<img class="d-block w-100" src="https://images.unsplash.com/photo-1562528064-b014e32c46df?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8Z2FuZ3Rva3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="Fourth slide">
			  </div>
			  <div class="carousel-item">
				<img class="d-block w-100" src="https://images.unsplash.com/photo-1598885276379-809e0d401fa9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGdhbmd0b2t8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="Fifth slide">
			  </div>
			  <div class="carousel-item">
				<img class="d-block w-100" src="https://images.unsplash.com/photo-1562413255-9d8f3188f197?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGdhbmd0b2t8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="Sixth slide">
			  </div>
			  <div class="carousel-item">
				<img class="d-block w-100" src="https://images.unsplash.com/photo-1592042044464-057ccb35692b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGdhbmd0b2t8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="Seventh slide">
			  </div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
			  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			  <span class="sr-only"></span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
			  <span class="carousel-control-next-icon" aria-hidden="true"></span>
			  <span class="sr-only"></span>
			</a>
		  </div>
		</div>
		<div class = "item2">
			<h3 style="text-align: center; font-size: 23.75px;font-weight: 400;letter-spacing: 2px;text-shadow: none; color:#9b4f69;"> Amenities</h3>
			<p style="font-size: 20px;">
			  2 rooms are with attached bathrooms & ½ Room with common bathroom with balcony<br><br>
			  Personal garden with Indoor Game Room<br><br>
			  2 Rooms are with AC, ½ room has room cooler, All the room are with LCD TV & No TV in living room<br><br>
			  ½ Room has Air Cooler & LCD TV<br><br>
			  Separate room for Caretaker<br>
			</p>

		</div>
	</div>

	<div class = "get_in_touch">
		<h3 style= "text-align: center; color:#EA1C2C; "> ADDRESS </h3>
		<p style= "text-align: center; color:#9b4f69;">
		   Gangtok,<br>
		   A-123 , Wanderlust,<br>
		   Sikkim, India.</p>
		<div class="details">
			<a href="#" class="btn" >SEND ENQUIRY</a>
		</div>
	</div><br><br>

	<div>
		<h3 style= "text-align: center; color:#EA1C2C; "> MORE PROPERTIES</h3>
    </div>

	<div class = "table-new" ng-app = "details" ng-controller = "studentController">

		  <table class="table table-hover col-md-6">
			<tr style="color: #EA1C2C;">
			<th>Location</th>
			<th>Property</th>
			</tr>
			<tr ng-repeat = "property in x.properties">
			<td ng-if="$odd" >{{ property.location }}</td>
			<td ng-if="$even">{{ property.location }}</td>
			<td ng-if="$odd" >{{ property.name }}</td>
			<td ng-if="$even">{{ property.name }}</td>
			</tr>
			</table>

	</div>

	<footer class="footer-distributed">

		<div class="footer-left">
			<h3>About<span>Wanderlust<span></h3>

			<p class="footer-links">
				<a href="HOMEPAGE.html">Home</a>
				|
				<a href="about.html">About</a>
				|
				<a href="#">Contact</a>
			</p>

			<p class="footer-company-name">© 2021 Wanderlust Travels Pvt. Ltd.</p>
		</div>

		<div class="footer-center">
			<div>
				<i class="fa fa-map-marker"></i>
                <p><span>309 - Sheena Solitaire,
                    Bldg. No. D - 1, Sector - 1</span>
                   Malad, Mumbai - 400710</p>
			</div>

			<div>
				<i class="fa fa-phone"></i>
				<p class="p2">+91 22-27782183</p>
			</div>
			<div>
				<i class="fa fa-envelope"></i>
				<p class="p3"><a href="#">support@wanderlust.com</a></p>
			</div>
		</div>
		<div class="footer-right">
			<p class="footer-company-about">
				<span>About the company</span>
				We offer a marvelous stay and a memorable experience with your friends and family at the best price. <br>
			For more, Click Here <br>
		<a href="about.html">About Us</a></p>

			<div class="footer-icons">
				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-instagram"></i></a>
				<a href="#"><i class="fa fa-youtube"></i></a>
			</div>
		</div>
	</footer>


	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   

	 <script>

		$(function () {
				$(document).scroll(function () {
					var $nav = $("#mainNav");
					$nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height());
				});
			});

		var details= angular.module("details", []);
		details.controller('studentController', function($scope) {
			$scope.x = {
			properties:[
			{location:'Himachal Pradesh',name:'Moksh Farms'},
			{location:'Ooty',name:'Leisure Villas, Ooty'},
			{location:'Kerala',name:'Leisure Villas, Kerala'}
			]
		};
		});

		 function loadLavasa(){
		 alert("Welcome! Sit back and relax while we take you through this beauty,Valley Sreet,Lavasa")
		 }
	 </script>
 </body>
 </html>
 
